.acme-navbar-text{
  color: black;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

#basket-link {
	padding-top: 10px;
}
